In [2]:
import pandas as pd
from  sklearn.model_selection import StratifiedShuffleSplit

In [16]:
df_train = pd.read_csv('train_new_bk.csv')

In [17]:
df_train.head()

,Category,DayOfWeek,PdDistrict,X,Y,NumMultCrimes,MultProbs1,MultProbs2,MultProbs3,MultProbs4,...,logodds30,logodds31,logodds32,logodds33,logodds34,logodds35,logodds36,logodds37,logodds38,LogoddsPA
0,WARRANTS,Wednesday,NORTHERN,-122.425892,37.774599,2,-6.541286,-2.109738,-7.718282,-7.741549,...,-5.259591,-7.454398,-3.294016,-11.893691,-4.777894,-2.924890,-1.712979,-2.985679,-4.621396,-9.408710
1,OTHER OFFENSES,Wednesday,NORTHERN,-122.425892,37.774599,2,-6.541286,-2.109738,-7.718282,-7.741549,...,-5.259591,-7.454398,-3.294016,-11.893691,-4.777894,-2.924890,-1.712979,-2.985679,-4.621396,-9.408710
2,OTHER OFFENSES,Wednesday,NORTHERN,-122.424363,37.800414,1,-6.188288,-2.535865,-7.583242,-9.999619,...,-5.259591,-7.454398,-3.294016,-11.893691,-4.777894,-2.924890,-1.704748,-2.985679,-4.621396,-10.021852
3,LARCENY/THEFT,Wednesday,NORTHERN,-122.426995,37.800873,1,-6.188288,-2.535865,-7.583242,-9.999619,...,-5.259591,-7.454398,-3.294016,-11.893691,-4.777894,-3.212187,-2.729575,-2.985679,-4.621396,-8.641856
4,LARCENY/THEFT,Wednesday,PARK,-122.438738,37.771541,1,-6.188288,-2.535865,-7.583242,-9.999619,...,-5.259591,-7.454398,-3.294016,-11.893691,-4.777894,-2.924890,-2.729575,-2.985679,-4.621396,-9.734155

In [32]:
df_pr_test = pd.read_csv('data/test_new.csv',header=None)
df_pr_test.head()

,0,1,2,3,4,5,6
0,2010-02-26 12:52:00,FRAUD,Friday,NORTHERN,1300 Block of VANNESS AV,-122.421973,37.787744
1,2004-06-25 18:45:00,NON-CRIMINAL,Friday,INGLESIDE,200 Block of GATES ST,-122.414055,37.739594
2,2010-07-29 13:11:00,WARRANTS,Thursday,TARAVAL,1200 Block of IRVING ST,-122.471146,37.763880
3,2012-04-22 14:50:00,TRESPASS,Sunday,NORTHERN,2400 Block of FILLMORE ST,-122.434539,37.792031
4,2005-05-22 19:11:00,NON-CRIMINAL,Sunday,TARAVAL,1900 Block of 9TH AV,-122.465398,37.751904

In [27]:
df_vibhu_test = pd.read_csv('test_processed_split.csv')

In [30]:
df_vibhu_test['Category'].value_counts()

LARCENY/THEFT                  8745
OTHER OFFENSES                 6309
NON-CRIMINAL                   4615
ASSAULT                        3844
DRUG/NARCOTIC                  2699
VEHICLE THEFT                  2689
VANDALISM                      2236
WARRANTS                       2111
BURGLARY                       1838
SUSPICIOUS OCC                 1571
MISSING PERSON                 1300
ROBBERY                        1150
FRAUD                           834
FORGERY/COUNTERFEITING          531
SECONDARY CODES                 499
WEAPON LAWS                     428
PROSTITUTION                    374
TRESPASS                        366
STOLEN PROPERTY                 227
SEX OFFENSES FORCIBLE           220
DISORDERLY CONDUCT              216
DRUNKENNESS                     214
RECOVERED VEHICLE               157
KIDNAPPING                      117
DRIVING UNDER THE INFLUENCE     113
RUNAWAY                          97
LIQUOR LAWS                      95
ARSON                            76
LOITERING                        61
EMBEZZLEMENT                     58
FAMILY OFFENSES                  25
SUICIDE                          25
BAD CHECKS                       20
BRIBERY                          15
EXTORTION                        13
GAMBLING                          7
SEX OFFENSES NON FORCIBLE         7
PORNOGRAPHY/OBSCENE MAT           1
Name: Category, dtype: int64

In [18]:
y = df_train['Category']
x = df_train[df_train.columns.difference(['Category'])]

In [19]:
split_f = StratifiedShuffleSplit(1,test_size=0.05,train_size=0.95)

In [20]:
for train_index, test_index in split_f.split(x, y):
    x_train,y_train = x.iloc[train_index],y.iloc[train_index]
    x_test,y_test = x.iloc[test_index],y.iloc[test_index]

In [21]:
train_data = x_train.join(y_train)
test_data = x_test.join(y_test)

In [22]:
train_data.to_csv('train_processed_split.csv',index=False)

In [23]:
test_data.to_csv('test_processed_split.csv',index=False)

In [24]:
train_data.head()

,Day,DayOfWeek,DayOfYear,Hour,LogoddsPA,Minutes,Month,MultProbs1,MultProbs10,MultProbs11,...,logodds36,logodds37,logodds38,logodds4,logodds5,logodds6,logodds7,logodds8,logodds9,Category
259144,14,Monday,318,19,-7.876936,15,11,-6.188288,-6.495606,-8.664491,...,-2.729575,-2.862201,-4.621396,-2.804954,-5.309515,-5.956218,-2.141745,-5.318863,-6.622794,LARCENY/THEFT
859081,3,Thursday,93,10,-8.708559,0,4,-6.188288,-6.495606,-8.664491,...,-2.729575,-2.985679,-4.621396,-2.499945,-5.309515,-5.956218,-2.725818,-5.318863,-6.622794,ROBBERY
381800,13,Wednesday,13,19,-5.941299,46,1,-7.153636,-7.193276,-7.645534,...,-2.729575,-1.882874,-4.035125,-3.130667,-4.900908,-5.956218,-1.170577,-4.737075,-6.622794,WARRANTS
870773,6,Thursday,37,13,-10.594390,0,2,-6.188288,-6.495606,-8.664491,...,-0.980829,-2.985679,-4.621396,-3.130667,-5.309515,-5.956218,-2.725818,-5.318863,-6.622794,BURGLARY
198000,1,Monday,275,0,-8.464891,1,10,-6.541286,-6.715363,-7.599166,...,-2.729575,-2.985679,-4.621396,-2.668385,-5.309515,-5.956218,-2.725818,-5.318863,-6.622794,MISSING PERSON

In [25]:
len(test_data)

43903